<div class="palm-page-header">
  <div class="palm-page-header-wrapper">
    <div id="header" class="center truncating-text">SHA-1("abc")</div>
  </div>
</div>
<div class="palm-menu-spacer"></div>

<div id="notice" class="center notice">Problem was originally identified by SemiColonApps - this app is based on their open source test app code. Run this test on webOS 2.0 and report if you see any results other than a9993e364706816a reported.</div>

<div id="start" class="palm-button">Start</div>
<div id="stop" class="palm-button">Stop</div>

<div id="results"></div>



